/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
.editProject {
  color: black;
}

main {
  background-color: #F5F5F5;
}

/* Messages */
.messageform {

  display: flex;
  justify-content: center;
  padding-top: 0px;
}

/* Projects */
.project-create {
  height: 100vh;
}

.project-page {
  padding: 10px;
  width: 60%;
  position: relative;
  left: 20%;
  top: 15%;
  box-shadow: 0 0 10px #040000;
}

.project {
  margin-top: 100px;
  height: 90vh;
}

.project h3 {
  color: white;
  padding-top: .5em;
  font-size:40px;
  font-weight: 800;
  background: #00B686;
  padding: 5px;
}

.project h2 {
  color: white;
  font-weight: 900;
  border-top: 1px solid grey;
  background: white;
}

.project p {
  color: black;
  padding: 5px;
  font-size: 20px;
  background: white;
}

.project-view-links {
  background: #6D1CDF;
  margin-top: 40px;
  border-top: 5px solid #00B686;
  box-shadow: 0 0 15px black;
  width: 100%;
}

.projectView {
  height: 40%;
  width: 46%;
  box-shadow: 0 0 25px #000;
  color: white;
  background: linear-gradient(#6D1CDF 0%, #8a49e5 70%);
  border-radius: 0.5%;
  margin: auto;
}

.editProject {
  color: white;
}

.viewTask {
  color: black;
}

.edit-task-form {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.edit-task-form .edit-form {
  position: relative;
  top: 15%;
  width: 60%;
  height: 65%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-task-input {
  display: flex;
  flex-direction: column;
}

.task-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-title {
  background: #00B686;
}

.task-input .labelInput {
  margin: 10px;
}

.task-input > input {
  width: 40vw;
}

.task-input > textarea {
  width: 40%;
  height: 10vh;
}

.tasks-table {
  display: flex;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

.table-data {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12pt;
  margin: 10px;
  width: 8%;
  margin-right: 20px;
  text-align: center;
}
.table-data-num {
  width: 2%;
  color: rgba(0, 0, 0, 0.7);
}
.table-data-desc {
  width: 15%;
  font-size: 12pt;
  color: rgba(0, 0, 0, 0.7);
}
.table-data-date {
  width: 12%;
  font-size: 12pt;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.table-data-status {
  font-size: 12pt;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 30px;
}

.table-data-name {
  font-size: 12pt;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 40px;
}

.List {
  width: 80%;
  position: relative;
  top: 15%;
  left: 10%;
  border-top: 1px solid gray;
}

.tasklist-view {
  color: white;
  background: #6D1CDF;
  display: flex;
  border-top: 8px solid #00B686;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

* {
  list-style-type: none;
  font-family: Quicksand, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}

a:link{
  text-decoration: none;
  color: none;
}

a:visited {
  text-decoration: none;

  color: none;
}
a:hover {
  text-decoration: none;
  color: none;
}

a:active {
  text-decoration: none;
  color: none;
}

.button {
  border: 2px solid black
}
.App {
  text-align: center;
}
.logo {
  color: white;
  font-size: 24px;
  font-weight: 400;
  /* padding: 0px 20px 0px 20px; */
}

.hero-container {
  display: flex-end;
  padding: 40px;
  margin-top: 100px;
}
.hero-text {
  color: #F1F2F3;
  padding-top: .5em;
  font-size: 90px;
  font-weight: 800;
}

.hero-text2 {
  background: #00B686;
  color: white;
  padding: 1em;
  font-size: 30px;
  font-weight: 800;

}

.edit-container {
  width: 60%;
  position: relative;
  left: 20%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-input > label {
  margin: 10px;
}

.edit-input > input {
    width: 40%;
  }

.hero-quote {
  color: #EDE9E9;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  padding-top: 2em;
  padding-bottom: 2em;
}

.form > form > div:nth-child(3) > input {
  border-radius: 100px;
  color: white;
  background-color: #00B686;
}

.hero-button {
  height: 100px;
  /* width: 200px; */
  border-radius: 100px;
  color: white;
  background-color: #00B686;
  padding: 15px;
}

.welcome-text {
  font-size: 60px;
  color: #6D1CDF;
  padding-bottom: .5em;
}

/* Header */
.nav {
  display: flex;
  float: right;
  width: 100%;
  font-weight:900;
}

.nav2 {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-list {
  margin: auto;
  width: 100%;
}

.nav-item  {
  width: 100%;
  padding: 0px 20px 0px 20px;
  color: white
}
.nav-item a {
  display:block;
  color:#FFF;
}
.nav-item a:hover {
  /* background: white; */
  color: #9259E0;
  transition: .3s;
}
.header {
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 1.5px #0E0219;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  display: flex;
  background-color: #6D1CDF;
  width: 100%;
  color: white;
  z-index: 1000;
}
.home-page {
  padding-top: 10vh;
  display: inline-block;
  height: 100vh;
  background-image: url('https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg');
  background-size: cover;
  background-color: rgba(34, 24, 24, 0.60);
  background-blend-mode: overlay;
  width: 100%;
}
.home-page2 {
  width: 100vw;
  background: url('https://image.ibb.co/nJ6d6k/hero_image.png');
  background-color: #6D1CDF;
  background-size: cover;
  height: 100vh;
}


.home-page3 {
  background-color: #FFFFFF;
  height: 130vh;
}

.home-page3-container {
  display: flex;
}

.home-page3-container .item {
  flex-direction: column;
  flex: 0 0 auto;
  width: 33.33%;
  margin-top: 10%;
  justify-content: center;
}

.lineup {
  border-top: 1px solid lightgrey;
  width: 50%;
  margin-left: 25%;
}

 .home-page3-container .item .quote-img,
 .home-page3-container .item .quote-img2,
 .home-page3-container .item .quote-img3 {
  height: 60%;
  width: 35%;
  position: relative;
  left: 33%;
  border-radius: 50%;
}

.item .quote-img {
  background-image: url('http://studiojphotography.ca/wp-content/uploads/2010/03/professional-headshot.jpg');
  background-size: cover;
  background-position: center;
}

.item .quote-img2 {
  background-image: url('https://static1.squarespace.com/static/511526cde4b067782b69109c/517aa359e4b0ab81ac8d931c/517aa38ee4b0aef614c6765d/1366991895612/01-corporate-headshot-photo-130405-9660.JPG-1500px.JPG');
  background-size: cover;
  background-position: center;
}

.item .quote-img3 {
  background-image: url('https://i.pinimg.com/736x/03/f7/a7/03f7a70497f0324e66f7ee9e0af2c205--corporate-photography-headshot-photography.jpg');
  background-size: cover;
  background-position: center;
}

.logo-container {
  width: 100%;
  height: 15%;
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo-t-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-t {
  width: 20%;
  height: 10vh;
}

.home-page3-container .item h2 {
  font-size: 1.2em;
  padding: 1em;
  opacity: 0.6;
}

.home-page3-container .item h4 {
  margin-top: 20px;
  opacity: 0.6;
}

#t1 {
  background-image: url('https://static1.squarespace.com/static/55f7c032e4b059c856ed16ae/55fa497de4b0cacc2fc1dd5a/55fa4a6be4b0598b51ba9166/1442518637890/Gizmodo-Grey.png');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}
#t2 {
  background-image: url('http://20642-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2016/04/BuzzFeed-Logo-Grey-1.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
#t3 {
  background-image: url('https://static1.squarespace.com/static/57893f18b3db2b558b7effa2/578943a1197aea6cbb371e87/578943a1197aea6cbb371e8b/1468624606748/verge.png');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}
#t4 {
  background-image: url('https://static1.squarespace.com/static/58508139d482e9ca234ad019/5850c1d8e6f2e122af6df610/5850c1d8e6f2e122af6df611/1481688484862/mashable.png');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.home-page3-container .item p {
  margin-top: 1em;
  line-height: 1;
  width: 60%;
  position: relative;
  left: 20%;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .h-btn {
    padding: 32px 24px 32px 24px;
    font-size: 20px;
    font-style: uppercase;
    font-weight: 400;
  }
  .h-btn:hover {
    background-color: white;
    color: #6D1CDF;
    transition: all 0.3s ease 0s;
  }
  .form {
    display: flex;
    justify-content: center;
    padding-top: 0px;
  }

  /* REGISTER PAGE */

  .register {
    padding-top: 20vh;
    height: 120vh;
  }

  .register-input > label {
    margin: 10px;
  }
  .register-input > input {
    width: 40%;
  }

  #email > input {
    width: 35%;
    margin-left: 25px;
  }


  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 0px;
    width: 50%;
  }
  .register-hero {
    padding-top: 20px;
  }

  /* LOGIN PAGE */
  .login-page {
    padding-top: 20vh;
    height: 100vh;
  }

  .login-form {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    padding: 40px;
  }

  /* USER */
  .user-container {
    height: 1500px;
  }

  /* COLLABORATOR SINGLE */
  .collaborator-page {
    height: 100vh;
  }

  .xx {
    padding-top: 10vw;
  }

  /* FORM STYLES */
  .register-form {
    display: inline-flex;
  }

  .register-done {
    padding: 30px;
    color: #8B1BD2;
  }


  /* Create Project */

.select {
    justify-content: center;

  }

  .name-input,
  .desc-input,
  .cat-input,
  .status-input,
  .date-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  .name-input > label,
  .desc-input > label,
  .cat-input > label,
  .status-input > label,
  .date-input > label {
    margin: 10px;
  }

  .desc-input > textarea {
    width: 40%;
    height: 80px;
  }

  .date-input > input[type="date"]:nth-child(2),
  .date-input > input[type="date"]:nth-child(4) {
    width: 28%;
  }


  .x {
    padding-left: 30px;
  }

  form input[type=text]:focus, form input[type=number]:focus {
    border-bottom: 10px solid #8B1BD2;
    /* outline: 0; */
    transition: .7s;
  }

  input[type=text], select {
    width: 250px;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
  }

  input[type=password], select {
    width: 250px;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
  }

  input[type=email], select {
    width: 75%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
  }

  input[type=date], select {
    width: 20%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
  }

  input[type=submit] {
    display: inline-block;
    width: 10em;
    background-color: #544CAF;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    font-size: 20px;
    font-weight: 800px;
    /* border-radius: 0px; */
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }

  input[type=submit]:hover {
    background-color: white;
    color: #6D1CDF;
    box-shadow: inset 0 0 0 0px #211F1F;
  }

  .footer {
    /* height: 300px; */
    justify-content: space-between;
    height: 100%;
    font-weight: 400px;
    font-size: 20px;
    background-color: #6D1CDF;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    bottom: 0pt;
  }
  .footer-col {
    align-content: center;
    padding: 20px;
    /* width: 20vw; */
  }
  .footer-col:hover {
    background-color: white;
    color: #6D1CDF;
    transition: .3s;
  }
  .footer-nav {
    /* text-align: center; */
    /* display: flex; */
    justify-content: center;
    color: white;
  }
  .App-intro {
    font-size: large;
  }
  ul {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    float: left;
  }
  /* PARALLAX */
  /* .parallax { */
    /* background-image: url("http://www.saga.co.uk/contentlibrary/saga/publishing/verticals/entertainment/films-and-tv/films-hero-1260x600.jpg"); */
    /* min-height: 800px;  */
    /* width: 100%; */
    /* SCROLL */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* position: absolute; */
  /* } */
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
    table {
      font-family: georgia;
      font-size: 14px;
      border-collapse: collapse;
      width: 100%;
      background-color: rgba(255,255,153,0.5);
    }
  }
  td, th {
      border: 1px solid silver;
      text-align: left;
      height: 30px;
      padding: 8px;
  }
  th {
      background-color:lightblue;
      color: black;
      font-weight: bold;
  }
  td, tr{
    width: 100px;
    word-wrap: break-word;
  }
  .tdDescription{
    width:40%;
  }
  /*change the color of each row depending if its odd or even*/
  tr:nth-child(odd) {
      background-color: silver;
      color: blue;
      font-size: 1.5em;
      width: 100px;
  }
  tr:nth-child(even) {
      background-color: lightblue;
      color: black;
      font-size: 1.5em;
      width: 100px;
  }
/* TESTING */
.testing {
  border-bottom: 20px purple;
}

/* SIDE NAVE TEST */
.seeall-nav {
  align-content: left;
}

.sidenav {
  position: fixed;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.logo {
 padding: 8px 8px 8px 32px;
 transition: 0.5s;
 font-weight: 400;
 color: white;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* MEDIA QUERIYES */
@media only screen and (max-width: 400px) {
  * {
    box-shadow: none;
    color: #FFFFFF;
    background-color: #6D1CDF;
  }
  .header {
    box-shadow: none;
  }

  .hero-text {
    color: #FFFFFF;
  }

  .home-page3-container {
    display: block;
  }

  .home-page3-container .item {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.viewProject {
  padding-top: 10px;
  font-size: 24px;
  color:white;
}

.side-nav-drop nav {
  position: fixed;
  z-index: 10000;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #792BE8;
  color: white;
  transition: 1s;
}

.side-nav-drop.is-open nav {
  top: 0;
}

/* </head>
<body>

<div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<h1 class="logo">Okurio</h1>
<a href="#">About</a>
<a href="#">Services</a>
<a href="#">Clients</a>
<a href="#">Contact</a>
</div>

<h2>Animated Sidenav Example</h2>
<p>Click on the element below to open the side navigation menu.</p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Go</span> */

/* SIDE NAV TEST */
