@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.header {
    margin-top: -80px;
}

.project-list {
    height: 100vh;
    border: 2px solid green;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Quicksand';
}

.project-info {
    margin: 20px 5px 0px 5px;
    position: relative;
    left: 20%;
    border: 1px solid blue;
    width: 60%;
    display: flex;
    align-items: center;
    border-radius: 2%;
    background: linear-gradient(#6D1CDF 0%, grey 90%);
    color: white;
}

.project-name {
    font-size: 20pt;
    margin: 10px;
    justify-content: flex-start;
    width: 40%;
}

.project-links {
    display: flex;
    margin: 10px;
    width: 100%;
    justify-content: space-around;
    justify-content: flex-end;
}

.single-project {
    margin: 10px;
    padding: 10px;
    background: #7986CB;
}

.add-task {
    margin: 10px;
    padding: 10px;
    background: seagreen;
}

.add-task > a,
.single-project > a {
    color: white;
}
